*{
    margin:0 ; 
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: rgb(15, 76, 97);
    color: rgb(255, 255, 255);
    border: 1px solid inherit;
}
li{
    margin-top: 5px;
    cursor: pointer;
}

.Main_header{
    display: flex;
    justify-content: space-between;
}
label{
    display: inline-block;
    border: 1px solid inherit;
    width: 60px;
    border-radius: 35px;
    cursor: pointer;
    height: 30px;
}

label input{
    width: 0px;
    height: 0;
    opacity: 0;
}

label input:checked +  span{
    right: 11.8%;
}

.bg-gray{
    background-color: rgb(160, 160, 160);
}
.bg-lightgray{
    background-color: lightgray;
    color: black;
}

label span{
    position: absolute;
    border: 1px solid  white;
    width: 25px;
    height:25px;
    border-radius: 40px;
    top:36px;
    right: 13.5%;
    color: white;
    background-color: #ffff;
}

.content{
    margin-top: 5rem;
}
.content p{
    width: 40%;
}
.cards-content{
    margin-top: 2rem;
    justify-content: center;
}
.card{
    margin: 15px;
}